In [4]:
import pandas as pd

# Read the data from xlsx file
df = pd.read_excel('data/accidents.xlsx', sheet_name='93-2014 FINAL')
df.head(20)

,date,plane_type,loc,country,ref,airline,fat,px,cat,phase,cert,meta,cause,notes
0,d,t,l,c,r,o,f,px,cat,p,cert,meta,cause,n
1,1993-01-06 00:00:00,Dash 8-311,near Paris Charles de Gualle,France,D-BEAT,Lufthansa Cityline,4,20,A1,approach,confirmed,human_error,pilot & ATC error,NaN
2,1993-01-09 00:00:00,Hawker Siddeley HS-748-234 Srs,near Surabaya Airport,Indonesia,PK-IHE,Bouraq Indonesia,15,29,A1,initial_climb,probable,mechanical,engine failure,NaN
3,1993-01-31 00:00:00,Shorts SC.7 Skyvan 3-100,Mt. Kapur,Indonesia,9M-PID,Pan Malaysian Air Transport,14,29,A1,en_route,probable,weather,low visibility,NaN
4,1993-02-08 00:00:00,Tupolev 154M,near Tehran-Mehra...,Iran,EP-ITD,Iran Air Tours,131,67,A1,en_route,confirmed,human_error,"pilot error, collision",NaN
5,1993-02-28 00:00:00,Dornier 228-201,near Orchid Island,Taiwan,B-12238,Formosa Airlines,6,22,A1,approach,probable,weather,bad weather,NaN
6,1993-03-05 00:00:00,Fokker 100,"near Skopje, Macedonia",Macedonia,PH-KXL,Palair Macedonian,83,56,A1,initial_climb,confirmed,human_error,maintenance error,NaN
7,1993-03-19 00:00:00,Beechcraft 200 Super King Air,near Geilo-Dagali,Norway,LN-TSA,West Aviation,3,19,A1,approach,probable,weather,bad weather,NaN
8,1993-03-23 00:00:00,Embraer 110C Bandeirante,"near Cuiabá, MT",Brazil,PP-SBJ,Oeste Linhas Aéreas,6,22,A1,en_route,probable,weather,bad weather,NaN
9,1993-04-06 00:00:00,McDonnell-Douglas MD-11,"near Aleutian Islands, Alaska",USA,B-2171,China Eastern Airlines,2,17,A2,en_route,probable,mechanical,design flaw,NaN
10,1993-04-23 00:00:00,Antonov 26,near Zavkhan Province,Mongolia,BNMAU-14102,MIAT Mongolian Airlines,32,38,A1,en_route,suspected,human_error,pilot & crew error,NaN
11,1993-04-26 00:00:00,Boeing 737 2AB,near Aurangabad Airport,India,VT-ECQ,Indian Airlines,55,47,A1,takeoff,probable,human_error,pilot error,NaN
12,1993-05-19 00:00:00,Boeing 727-46,Mt Paramo Frontino,Colombia,HK-2422X,SAM Colombia,132,67,A1,en_route,probable,human_error,pilot & ATC error,NaN
13,1993-06-17 00:00:00,Antonov 26B,near Tbilisi,Georgia,26035,Tajikistan Airlines,41,42,A1,en_route,probable,weather,turbulence,NaN
14,1993-07-01 00:00:00,Fokker F-28 Fellowship 3000,Sorong-Jefma,Indonesia,PK-GFU,Merpati Nusantara,41,42,A1,approach,unknown,unknown,unknown,NaN
15,1993-06-09 00:00:00,Pilatus BN-2A-20 Islander,Gulgubip Airport,Papua New Guinea,P2-SWA,Southwest Air,9,25,A1,approach,probable,mechanical,engine failure,NaN
16,1993-07-23 00:00:00,BAe 146-300,"Yinchuan, Ningxia",China,B-2716,China Northwest Airlines,55,47,A1,takeoff,confirmed,mechanical,mechanical failure,NaN
17,1993-07-26 00:00:00,Boeing 737-5L9,Ungeo Mountain near Mokpo,Korea,HL7229,Asiana Airlines,68,51,A1,approach,probable,weather,bad weather,NaN
18,1993-06-28 00:00:00,Beechcraft 200 Super King Air,Aminius,Namibia,ZS-NEP,Trans Namibia Aviation,3,19,A1,initial_climb,unknown,unknown,unknown,NaN
19,1993-07-31 00:00:00,Dornier 228-101,near Bharatpur Airport,Nepal,9N-ACL,Everest Air,19,32,A1,approach,unknown,unknown,unknown,NaN

In [9]:
#Drop columns without "Airbus" or "Boeing" in the plane_type column, capitalization doesn't matter
df = df[df['plane_type'].str.contains("Airbus|Boeing", case=False)]

#change all names containing "Boeing" to "Boeing", and all names containing "Airbus" to "Airbus"
df['plane_type'] = df['plane_type'].str.replace(".*Boeing.*", "Boeing", case=False)
df['plane_type'] = df['plane_type'].str.replace(".*Airbus.*", "Airbus", case=False)

df=df[['date','plane_type','ref','airline','country']]
df.head(20)

/var/folders/jb/538052pn3xjg7xzgf23gkxmc0000gn/T/ipykernel_20012/725227702.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  df['plane_type'] = df['plane_type'].str.replace(".*Boeing.*", "Boeing", case=False)
/var/folders/jb/538052pn3xjg7xzgf23gkxmc0000gn/T/ipykernel_20012/725227702.py:6: FutureWarning: The default value of regex will change from True to False in a future version.
  df['plane_type'] = df['plane_type'].str.replace(".*Airbus.*", "Airbus", case=False)

,date,plane_type,ref,airline,country
11,1993-04-26 00:00:00,Boeing,VT-ECQ,Indian Airlines,India
12,1993-05-19 00:00:00,Boeing,HK-2422X,SAM Colombia,Colombia
17,1993-07-26 00:00:00,Boeing,HL7229,Asiana Airlines,Korea
22,1993-09-14 00:00:00,Airbus,D-AIPN,Lufthansa,Poland
40,1994-03-23 00:00:00,Airbus,F-OGQS,Aeroflot,Russia
43,1994-04-26 00:00:00,Airbus,B-1816,China Airlines,Japan
55,1994-09-08 00:00:00,Boeing,N513AU,USAir,USA
65,1994-12-10 00:00:00,Boeing,EI-BWF,Philippine Airlines,Japan
68,1994-12-26 00:00:00,Airbus,F-GBEC,Air France,France
69,1994-12-29 00:00:00,Boeing,TC-JES,Turkish Airlines,Turkey
75,1995-03-31 00:00:00,Airbus,YR-LCC,TAROM,Romania
85,1995-08-09 00:00:00,Boeing,N125GU,Aviateca,El Salvador
94,1995-11-13 00:00:00,Boeing,5N-AUA,Nigeria Airways,Nigeria
95,1995-12-03 00:00:00,Boeing,TJ-CBE,Cameroon Airlines,Cameroon
101,1995-12-20 00:00:00,Boeing,N651AA,American Airlines,Colombia
103,1996-02-06 00:00:00,Boeing,TC-GEN,Birgenair,Dominican Republic
105,1996-02-29 00:00:00,Boeing,OB-1451,Faucett,Peru
115,1996-07-17 00:00:00,Boeing,N93119,Trans World Airlines,USA
119,1996-10-02 00:00:00,Boeing,N52AW,Aeroperú,Pacific Ocean
123,1996-11-07 00:00:00,Boeing,5N-BBG,ADC Airlines,Nigeria

In [10]:
#save to csv as "accidents_processed.csv"
df.to_csv('data/accidents_processed.csv', index=False)